/* ROOT */
:root {
    --primary-color: #9792e4;
    --secondary-color: #0084fd;
    --bgr-card: #b5ddff;
}

/* GENERICS SETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GRIGLIA */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding: 15px;
}


/* UTILS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

#header {
    background-color: var(--secondary-color);
    color: white;
}

#header > .container {
    display: flex;
    justify-content: space-between;
}

#header > .container >.logo,
#header > .container > nav {
    padding: 25px;
    background-color: var(--bgr-card);
}

/* SECTION DEMO APP */
#demo-app .col {
    width: calc(100% / 3);
}

#demo-app .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo-app .col:first-child .card {
    display: flex;
}

#demo-app .col:first-child .card-left,
#demo-app .col:first-child .card-right {
    width: 50%;
}


#demo-app .card {
    background-color: var(--bgr-card);
    padding: 15px;
    height: 100%;
}



/* SECTION STRATEGIES */
#strategies {
    background-color: var(--primary-color);
}

#strategies .container {
    display: flex;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}


#strategies .container .planning,
#strategies .container .app {
    background-color: var(--bgr-card);
    padding: 15px;
    width: 100%;   
}

#strategies .container .app {
    text-align: center;
}



/* SECTION TESTIMONIALS */
#testimonials .intro {
    text-align: center;
    margin-top: 30px;
    line-height: 50px;
  }

#testimonials .card-test {
    display: flex;
    width: 100%;
    padding: 15px;
    margin: 35px 0;
    background-color: var(--primary-color);
}

.card-test .descriptions-test {
    margin-left: 15px;
    color: white;
}


/* SECTION BENEFITS */

#benefits {
    background-color: var(--primary-color);
}

#benefits > .container > h2 {
    text-align: center;
    padding: 40px 0px;
}

#benefits .col {
    width: calc(100% / 3);
}

#benefits .card {
    background-color: var(--bgr-card);
    padding: 15px;
    height: 100%;
}

#benefits .card h1,
#benefits .card h3,
#benefits .card p,
#benefits .card button {
    margin: 20px 0px;
}


/* SECTION ABOUT US */
#about-us > .container {
    display: flex;
    margin: 30px auto;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 35px;
}

#about-us > .container > .about-us-left {
    width: 60%;
}

.about-us-left :nth-child(2) {
    line-height: 30px;
    margin-top: 15px;

}

.about-us-left :nth-child(3) {
    margin-top: 15px;
    line-height: 30px;
}

.about-us-right {
    position: relative;
    width: 40%;
}

.about-us-right :nth-child(2) {
    position: absolute;
    font-size: 100px;
    top: -50px;
    right: 5px;
}

.about-us-right h3 {
    line-height: 50px;
    font-size: 40px;
}

.about-us-right button {
    margin: 15px 0px;
}

.about-us-right > img {
    max-width: 100%;
}











/* MEDIA QUERY */

/* TABLET 768PX */
@media  screen and (max-width: 768px) {
    
    /* SEZIONE demo-app */
    #demo-app .col:first-child .card {
        display: block;
    }
    #demo-app .col:first-child .card-left,
    #demo-app .col:first-child .card-right {
        width: 100%;
        padding: 15px 0px;
    }

    /* SEZIONE strategies */
    #strategies .container {
        display: block;
    }

    #strategies .container .planning,
    #strategies .container .app {
        width: 100%;
        margin: 15px 0;   
    }

    /* SEZIONE benefits */
    #benefits .col {
        width: calc(100% / 2);
    }



}





/* MOBILE 480px */
@media  screen and (max-width: 480px) {

    /* SEZIONE demo-app */
    #demo-app .col:first-child, 
    #demo-app .col {
        width: 100%;
    }

    /* SEZIONE strategies */
    #testimonials .card-test {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .card-test .descriptions-test {
        margin-left: 0px;
    }

    /* SEZIONE benefits */
    #benefits .col {
        width: 100%;
    }

}