/* ROOT */
:root {
    --primary-color: #9792e4;
    --secondary-color: #0084fd;
    --bgr-card: #b5ddff;
    --footer-color: #333333;
    --text-gray: #5a6e7f;
}

/* GENERICS SETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GRIGLIA */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col {
    padding: 15px;
}


/* UTILS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

#header {
    background-color: var(--secondary-color);
    color: white;
}

#header > .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

.logo img {
    vertical-align: middle;
}

ul#nav-header li {
    display: inline;
    list-style: none;
    padding: 0px 20px;
    font-size: 16px;
}

ul#nav-header li a {
    text-decoration: none;
    color: white;
}

#nav-header a[title="getstarted"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
}

nav div :last-child {
    font-size: 30px;
    line-height: 80px;
}


/* SECTION DEMO APP */
#demo-app .col {
    width: calc(100% / 3);
}

#demo-app .col:first-child {
    width: calc(100% / 3 * 2);
}

#demo-app .col:first-child .card-left,
#demo-app .col:first-child .card-right {
    width: 50%;
}

.card-right > img {
    max-width: 300px;
    max-height: 300px;
    position: relative;
    bottom: -34px;
}

#demo-app .card {
    display: flex;
    background-color: var(--bgr-card);
    padding: 30px 30px;
    height: 100%;
    border-radius: 25px;
}

#demo-app .card-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#demo-app .card-left h3 {
    color: var(--secondary-color); 
    font-weight: bold;
    font-size: 25px;   
}

#demo-app .card-left p {
    color: var(--text-gray);
    font-weight: bold;
    line-height: 2rem;
    
}

#demo-app .card-left button {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 60px;
    width: fit-content;
    border-radius: 25px;
}

#demo-app .card-right {
    position: relative;
}

#demo-app .card-1-3 {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.card-1-3 :first-child {
    color: var(--secondary-color);
    font-size: 80px;
}

.card-1-3 h3 {
    color: var(--secondary-color);
    font-size: 20px;
}

.card-1-3 p {
    color: var(--text-gray);
    font-weight: bold;
    line-height: 35px;
}





/* SECTION STRATEGIES */
#strategies {
    background-color: var(--primary-color);
}

#strategies .container {
    max-width: 1000px;
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 60px;
}

#strategies .planning img {
    max-width: 100%;
    margin-bottom: 80px;
}

#strategies .container .planning,
#strategies .container .app {
    padding: 15px;
    width: 100%;   
}

#strategies .container .planning {
    color: white;
}

.planning h3 {
    font-size: 30px;
    margin: 40px 0;
}

.planning p {
    line-height: 30px;
}

#strategies .container .app {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    align-self: flex-end;
}

#strategies .app img {
    max-width: 70%;
}

.app h3 {
    font-size: 25px;
    margin: 30px 0;
}

.app p {
    line-height: 35px;
    font-style: italic;
    margin-bottom: 30px;
}

.container .app :last-child {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: black;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}




/* SECTION TESTIMONIALS */
#testimonials {
    margin-bottom: 80px;
}

#testimonials .intro {
    text-align: center;
    margin-top: 30px;
    line-height: 70px;
}

#testimonials .intro h2 {
    color: var(--primary-color);
    font-size: 3rem;
}

#testimonials .intro :last-child {
    line-height: 30px;
    margin-top: 30px;
    font-size: 17px;
}

#testimonials .card-test .img-test {
    width: 15%;

}

.img-test img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
   
}

#testimonials .card-test {
    display: flex;
    width: 100%;
    padding: 25px;
    margin: 35px 0;
    background-color: var(--primary-color);
    border-radius: 30px;
}

.card-test .descriptions-test {
    width: 70%;
    margin: 0 auto;
    color: white;
    align-self: center;
}

.card-test .descriptions-test p {
    line-height: 35px;
    font-size: 18px;
}

.card-test .descriptions-test h3 {
    margin-top: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.card-test .descriptions-test span {
    font-size: 30px;
}

/* SECTION BENEFITS */

#benefits {
    background-color: var(--primary-color);
}

#benefits > .container > h2 {
    text-align: center;
    padding: 40px 0px;
}

#benefits .col {
    width: calc(100% / 3);
}

#benefits .card {
    background-color: var(--bgr-card);
    padding: 15px;
    height: 100%;
}

#benefits .card h1,
#benefits .card h3,
#benefits .card p,
#benefits .card button {
    margin: 20px 0px;
}


/* SECTION ABOUT US */
#about-us > .container {
    display: flex;
    margin: 30px auto;
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 35px;
}

#about-us > .container > .about-us-left {
    width: 60%;
}

.about-us-left :nth-child(2) {
    line-height: 30px;
    margin-top: 15px;

}

.about-us-left :nth-child(3) {
    margin-top: 15px;
    line-height: 30px;
}

.about-us-right {
    position: relative;
    width: 40%;
}

.about-us-right :nth-child(2) {
    position: absolute;
    font-size: 70px;
    top: -50px;
    right: 5px;
}

.about-us-right h3 {
    line-height: 50px;
    font-size: 40px;
}

.about-us-right button {
    margin: 15px 0px;
}

.about-us-right > img {
    max-width: 100%;
}


/* SECTION STARTER */
#starter {
    background-color: #9792e4;
}

#starter .container {
    text-align: center;
    padding: 30px 0px;
    color: white;
    width: 50%;
}
#starter .container h2 {
    font-size: 2rem;
}
#starter .container h1 {
    font-size: 4rem;
    color: #fdc15f;
}

#starter .container > * {
    margin: 10px 0px;
}


/* FOOTER */
#footer {
    background-color: var(--footer-color);
}

#footer .container {
    color: white;
    text-align: center;
    padding: 30px 0px;
    width: 50%;
}

#footer .container > * {
    margin: 45px 0px;
}




/* MEDIA QUERY */

/* TABLET 768PX */
@media  screen and (max-width: 768px) {

    /* SEZIONE header */
    #nav-header {
        display: none;
    }

    /* SEZIONE demo-app */
    #demo-app .col:first-child .card {
        display: block;
    }
    #demo-app .col:first-child .card-left,
    #demo-app .col:first-child .card-right {
        width: 100%;
        padding: 15px 0px;
    }

    /* SEZIONE strategies */
    #strategies .container {
        display: block;
    }

    #strategies .container .planning,
    #strategies .container .app {
        width: 100%;
        margin: 15px 0;   
    }

    /* SEZIONE benefits */
    #benefits .col {
        width: calc(100% / 2);
    }

    /* SEZIONE starter */
    #starter .container {
        width: 75%;
    }

    /* SEZIONE footer */
    #footer .container {
        width: 75%;
    }




}





/* MOBILE 480px */
@media  screen and (max-width: 480px) {

    /* SEZIONE demo-app */
    #demo-app .col:first-child, 
    #demo-app .col {
        width: 100%;
    }

    /* SEZIONE strategies */
    #testimonials .card-test {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .card-test .descriptions-test {
        margin-left: 0px;
    }

    /* SEZIONE benefits */
    #benefits .col {
        width: 100%;
    }

    /* SEZIONE ABOUT US */
    #about-us > .container {
        display: block;
    }

    #about-us > .container > .about-us-left,
    #about-us > .container > .about-us-right {
            width: 100%;
    }    

    #about-us > .container > .about-us-right {
        margin-top: 70px;
    }

    /* SEZIONE starter */
    #starter .container {
        width: 100%;
    }

    /* SEZIONE footer */
    #footer .container {
        width: 100%;
    }
}